#logo {
    position: absolute;
    left: env(safe-area-inset-left);
    transform: none;
}
#dashboard h2 {
    border-bottom: 1px solid var(--bg-color-2);
    margin-bottom: 0.5rem;
}
#dashboard ul {
    margin-left: 0;
}
#dashboard li {
    list-style-type: none;
}

#analytics-overview .right {
    text-align: right;
}
#analytics-overview svg {
    color: #fa3ebe;
}
#analytics-overview .card {
    margin-bottom: 2rem;
}
#analytics-overview .card h2, #analytics-overview .card p.note {
    text-align: center;
}
#analytics-overview .card .content svg {
    display: block;
    width: 2rem;
    height: 2rem;
    color: var(--link-color-1);
    margin: 1rem auto;
}
#analytics-overview .grid-2 {
    color: var(--text-color-2);
    grid-template-columns: auto 1fr;
    position: relative;
    font-size: 0.75rem;
    margin: 1rem;
    margin-top: 0;
}
#analytics-overview .bar-chart {
    display: block;
    height: 1rem;
    border-radius: 0.5rem;
    background: #21a9ff;
    background: -webkit-linear-gradient(to right, #12c2e9, #21a9ff);
    background: linear-gradient(to right, #12c2e9, #21a9ff);
    color: #000;
}
@media (prefers-color-scheme: dark) {
    #analytics-overview svg {
        color: #21a9ff;
    }
    #analytics-overview .bar-chart {
        background: #f80759;
        background: -webkit-linear-gradient(to right, #f80759, #fa3ebe);
        background: linear-gradient(to right, #f80759, #fa3ebe);
        color: #fff;
    }
}
