#define(fields):
    #var(field = nil)

    #(field = ["id": "key", "required": true, "data": fields.key])
    #inline("Admin/Fields/Text")

    #(field = ["id": "value", "size": "s", "data": fields.value])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "notes", "size": "s", "data": fields.notes])
    #inline("Admin/Fields/Textarea")

#enddefine

#let(form = [
    "list": "variables",
    "id": formId,
    "token": formToken,
    "modelId": fields.modelId ?? nil,
    "key": "variable"
])
#inline("Admin/Form")
