#let(form = [
    "id": formId,
    "token": formToken,
    "title": "Variable",
    "key": "system.variables",
    "modelId": modelId,
    "list": [
        "title": "Variables",
        "url": "/admin/system/variables/"
    ]
])

#define(fields):
    #var(field = nil)

    #(field = ["id": "key", "required": true, "data": fields.key])
    #inline("Admin/Fields/Text")

    #(field = ["id": "name", "required": true, "data": fields.name])
    #inline("Admin/Fields/Text")

    #(field = ["id": "value", "size": "s", "data": fields.value])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "notes", "size": "s", "data": fields.notes])
    #inline("Admin/Fields/Textarea")

#enddefine

#inline("Admin/Form")
