#let(form = [
    "id": formId,
    "token": formToken,
    "title": "Page",
    "key": "frontend.pages",
    "modelId": modelId,
    "list": [
        "title": "Pages",
        "url": "/admin/frontend/pages/"
    ]
])

#define(toolbarRightBefore):
    #if(modelId != nil):
        #if(UserHasPermission("frontend.metadatas.update")):
            <a href="/admin/frontend/metadatas/#(metadata.id)/update/">#svg("feather")</a>
        #endif
    #endif
#enddefine
#define(fields):
    #var(field = nil)

    #(field = ["id": "title", "required": true, "data": fields.title])
    #inline("Admin/Fields/Text")

    #(field = ["id": "content", "required": true, "size": "xl", "data": fields.content])
    #inline("Admin/Fields/Textarea")

#enddefine

#inline("Admin/Form")
