<form
    #if(form.id ?? false): id="#(form.id)"#endif
    #if(form.class ?? false): class="#(form.class)"#endif
    method="#(form.action.method ?? "post")"
    #if(form.action.url ?? false): action="#(form.action.url)"#endif
    #if(form.action.multipart ?? false): enctype="multipart/form-data"#endif
    class="container"
    >

    #if(form.notification ?? false):
    <div id="notification" class="#(form.notification.type ?? "info")">
        #if(form.notification.icon ?? false): #svg(form.notification.icon) #endif
        #if(form.notification.title ?? false): <h3>#(form.notification.title)</h3>#endif
        #if(form.notification.message ?? false):
        <p>#(form.notification.message)</p>
        #endif
    </div>
    #endif

    #if(form.error ?? false):
    <section>
        <p class="error">#(form.error)</p>
    </section>
    #endif
    
    #var(field = nil)

    #(field = ["key": "formId", "value": form.id])
    #inline("Common/Fields/Hidden")

    #(field = ["key": "formToken", "value": form.token])
    #inline("Common/Fields/Hidden")

    #for(field in form.fields):
        #if(field.type == "hidden"):                #inline("Common/Fields/Hidden")
        #elseif(field.type == "text"):              #inline("Common/Fields/Text")
        #elseif(field.type == "textarea"):          #inline("Common/Fields/Textarea")
        #elseif(field.type == "toggle"):            #inline("Common/Fields/Toggle")
        #elseif(field.type == "checkbox"):          #inline("Common/Fields/Checkbox")
        #elseif(field.type == "radio"):             #inline("Common/Fields/Radio")
        #elseif(field.type == "selection"):         #inline("Common/Fields/Selection")
        #elseif(field.type == "multiselection"):    #inline("Common/Fields/Multiselection")
        #elseif(field.type == "multigroupoption"):  #inline("Common/Fields/Multigroupoption")
        #elseif(field.type == "file"):              #inline("Common/Fields/File")
        #elseif(field.type == "multifile"):         #inline("Common/Fields/Multifile")
        #elseif(field.type == "image"):             #inline("Common/Fields/Image")
        #endif
    #endfor
        
    <section>
        <input type="submit" value="#(form.submit ?? "Save")">
    </section>

</form>
