#let(head = [
    "title": $variables.notFoundPageTitle ?? "404",
    "excerpt": $variables.notFoundPageExcerpt ?? "Page not found"
])
#define(body):
<div class="lead container center">
    <span class="icon">#($variables.notFoundPageIcon ?? "⚠️")</span>
    <h1>#($variables.notFoundPageTitle ?? "404")</h1>
    <p>#($variables.notFoundPageExcerpt ?? "Page not found")</p>
    <a href="#($variables.notFoundPageLinkUrl ?? "/")">#($variables.notFoundPageLinkLabel ?? "Home →")</a>
</div>
#enddefine

#inline("Frontend/Index")
