<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>#(title)</title>
        <description>#(description)</description>
        <link>#(baseUrl)</link>
        <language>#(locale)</language>
        <lastBuildDate>#Date(timeStamp: Timestamp(), fixedFormat: "EEE, dd MMM y HH:mm:ss Z", timeZone: timezone)</lastBuildDate>
        <pubDate>#Date(timeStamp: Timestamp(), fixedFormat: "EEE, dd MMM y HH:mm:ss Z", timeZone: timezone)</pubDate>
        <ttl>250</ttl>
        <atom:link href="#(baseUrl)/rss.xml" rel="self" type="application/rss+xml" />
        #for(item in list):
        <item>
            <guid isPermaLink="true">#(item.slug.absoluteUrl())</guid>
            <title><![CDATA[#(item.title)]]></title>
            <description><![CDATA[#(item.excerpt)]]></description>
            <link>#(item.slug.absoluteUrl())</link>
            <pubDate>#Date(timeStamp: item.date, fixedFormat: "EEE, dd MMM y HH:mm:ss Z", timeZone: timezone)</pubDate>
        </item>
        #endfor
    </channel>
</rss>
