#let(head = [
    "title": "Login",
    "description": "Sign in with your existing account"
])
#define(body):
<div id="posts" class="m">

    <header class="t:center m:b:xl">
        <h1 class="m:t">Login</h1>
        <p>Sign in with your existing account</p>
    </header>

    <form method="post" class="w:xs m:h:auto">

        #var(field = nil)

        #(field = ["id": "email", "type": "email", "required": true, "data": fields.email, "placeholder": "feather@binarybirds.com"])
        #inline("Admin/Fields/Text")
        
        #(field = ["id": "password", "type": "password", "required": true, "data": fields.password])
        #inline("Admin/Fields/Text")
        
        #if(notification != nil):
        <section id="notification" class="m:v t:center error">
            <span>#(notification)</span>
        </section>
        #endif

        #(field = ["label": "Sign in"])
        #inline("Admin/Fields/Button")
        
    </form>
</div>
#enddefine
#inline("Frontend/Index")
