#let(form = [
    "id": formId,
    "token": formToken,
    "title": "User",
    "key": "user.users",
    "modelId": modelId,
    "list": [
        "title": "Users",
        "url": "/admin/user/users/"
    ]
])

#define(fields):
    #var(field = nil)

    #(field = ["id": "email", "required": true, "data": fields.email])
    #inline("Admin/Fields/Text")

    #(field = ["id": "password", "type": "password", "data": fields.password])
    #inline("Admin/Fields/Text")

    #(field = ["id": "root", "label": "Root access", "data": fields.root])
    #inline("Admin/Fields/Selection")

    #(field = ["id": "roles", "data": fields.roles])
    #inline("Admin/Fields/Checkbox")

#enddefine

#inline("Admin/Form")
