#define(toolbarCenter):
    #if(form.modelId != nil):Edit#else:Create#endif #(form.title)
#enddefine

#define(breadcrumb):
    #if(UserHasPermission(form.key + ".list")):
    <li><a href="#(form.list.url)">#(form.list.title)</a></li>
    #endif
#enddefine

#define(toolbarLeft):
    #if(form.saveButton ?? true):
    <button type="submit" form="#(form.key)-form">#svg("save")</button>
    #endif

    #if((form.modelId != nil) && (form.view ?? true) && UserHasPermission(form.key + ".get")):
    <a href="#($req.url.path.trimLast())">#svg("eye")</a>
    #endif

    #evaluate(toolbarLeftAfter ?? "")
#enddefine

#define(toolbarRight):
    #evaluate(toolbarRightBefore ?? "")

    #if((form.modelId != nil) && (form.delete ?? true) && UserHasPermission(form.key + ".delete")):
    <a href="#($req.url.path.trimLast())delete/?cancel=#($req.url.path)">#svg("trash")</a>
    #endif
#enddefine

#define(body):
<div id="form" class="w m:h:auto m:b:xl">
    <form id="#(form.key)-form" class="m" method="post" action="#($req.url.path)"#if(form.multipart ?? false): enctype="multipart/form-data"#endif>

        #if(form.modelId != nil):
            #let(field = ["id": "modelId", "value": form.modelId])
            #inline("Admin/Fields/Hidden")
        #endif

        #var(field = nil)

        #(field = ["id": "formId", "value": form.id])
        #inline("Admin/Fields/Hidden")

        #(field = ["id": "formToken", "value": form.token])
        #inline("Admin/Fields/Hidden")

        #fields()

        #if(notification != nil):
        <section id="notification">
            <span>#(notification)</span>
        </section>
        #endif

        #(field = ["label": "Save"])
        #inline("Admin/Fields/Button")
    </form>

</div>
#enddefine
#inline("Admin/Index")
