#define(toolbarCenter):
    Dashboard
#enddefine

#define(body):
<div id="dashboard" class="m t:center">
    <header>
        <p>Welcome <b>#($user.email)</b>, this is your admin dashboard.</p>
    </header>

    <div class="g321 g:gap:col g:gap:row">
        #let(menus = InvokeAllHooks("admin-menu"))
        #for(menu in menus):
        #if(UserHasPermission(menu.permission) ?? true):
        <div class="g:col1 c:background:secondary p r:xs">
            <span>#svg(menu.icon, class: "block s64 m:h:auto c:link:secondary")</span>
            <h3 class="m:t">#(menu.name)</h3>
            <ul class="list:off m:zero p:zero">
            #for(item in menu.items):
                #if(UserHasPermission(item.permission) ?? true):
                <li><a href="#(item.url)">#(item.label)</a></li>
                #endif
            #endfor
            </ul>
        </div>
        #endif
        #endfor
    </div>
</div>

#enddefine
#inline("Admin/Index")
