#let(form = [
    "id": formId,
    "token": formToken,
    "title": "Role",
    "key": "user.roles",
    "modelId": modelId,
    "list": [
        "title": "Roles",
        "url": "/admin/user/roles/"
    ]
])


#define(fields):
    #var(field = nil)

    #(field = ["id": "key", "required": true, "data": fields.key])
    #inline("Admin/Fields/Text")

    #(field = ["id": "name", "required": true, "data": fields.name])
    #inline("Admin/Fields/Text")

    #(field = ["id": "notes", "size": "s", "data": fields.notes])
    #inline("Admin/Fields/Textarea")

    <section class="m:b">
        <label>Permissions</label>
        #for(option in fields.permissions.options):
        <fieldset>
            <legend>#(option.module)</legend>

            <div class="g1">
            #for(group in option.groups):
                <div class="m:b g:col1">
                    <label class="block">#(group.name)</label>
                    #for(p in group.permissions):
                    <input type="checkbox" name="permissions[]" value="#(p.key)" id="#(p.key)" #if(fields.permissions.values.contains(p.key)):checked#endif>
                    <label for="#(p.key)">#(p.label)</label><br>
                    #endfor
                </div>
            #endfor
            </div>
        </fieldset>
        #endfor
        #if(fields.permissions.error != nil):
        <span class="error">#(fields.permissions.error)</span>
        #endif
    </section>

#enddefine

#inline("Admin/Form")
