#let(form = [
    "id": formId,
    "token": formToken,
    "key": "role",
    "modelId": modelId,
    "list": [
        "title": "Roles",
        "url": "/admin/user/roles/"
    ]
])

#define(fields):
    #var(field = nil)

    #(field = ["id": "key", "required": true, "data": fields.key])
    #inline("Admin/Fields/Text")

    #(field = ["id": "name", "required": true, "data": fields.name])
    #inline("Admin/Fields/Text")

    #(field = ["id": "notes", "size": "s", "data": fields.notes])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "permissions", "data": fields.permissions])
    #inline("Admin/Fields/Checkbox")

#enddefine

#inline("Admin/Form")
