#let(detail = [
    "title": "Role",
    "key": "user.roles",
    "list": [
        "title": "Roles",
        "url": "/admin/user/roles/"
    ]
])
#define(details):
    <dl class="t:center">
        <dt>Id</dt>
        <dd class="m:h:zero m:b">#(model.id)</dd>

        <dt>Key</dt>
        <dd class="m:h:zero m:b">#(model.key)</dd>
        
        <dt>Name</dt>
        <dd class="m:h:zero m:b">#(model.name)</dd>
        
        <dt>Notes</dt>
        <dd class="m:h:zero m:b">#(model.notes)</dd>
        
        <dt>Permissions</dt>
        <dd class="m:h:zero m:b">
            #for(permission in model.permissions):
                #(permission.name)<br>
            #endfor
        </dd>

    </dl>
#enddefine
#inline("Admin/Detail")
