#define(toolbarRightBefore):
    #if(fields.modelId != nil):
    <a href="/admin/menu/menus/#(fields.modelId)/items">#svg("list")</a>
    #endif
#enddefine

#define(fields):
    #var(field = nil)

    #(field = ["id": "key", "required": true, "data": fields.key])
    #inline("Admin/Fields/Text")

    #(field = ["id": "name", "data": fields.name])
    #inline("Admin/Fields/Text")

    #(field = ["id": "notes", "size": "s", "data": fields.notes])
    #inline("Admin/Fields/Textarea")

#enddefine

#let(form = [
    "list": "menus",
    "id": formId,
    "token": formToken,
    "modelId": fields.modelId ?? nil,
    "key": "menu"
])
#inline("Admin/Form")
