#let(form = [
    "id": formId,
    "token": formToken,
    "title": "Metadata",
    "key": "frontend.metadatas",
    "modelId": modelId,
    "multipart": true,
    "delete": false,
    "list": [
        "title": "Metadatas",
        "url": "/admin/frontend/metadatas/"
    ]
])

#define(toolbarRightBefore):
    #if(modelId != nil):
    <a href="/admin/#(fields.module.value)/#(fields.model.value)/#(fields.reference.value)/update/">#svg("feather")</a>
    <a href="#(fields.slug.value.safePath())" target="_blank">#svg("external-link")</a>
    #endif
#enddefine
#define(fields):
    #var(field = nil)

<fieldset class="p m:bottom:l br:xs">
    <legend class="p:horizontal:s">Information</legend>

    #(field = ["id": "image", "class": "large", "data": fields.image, "accept": "image/jpeg"])
    #inline("Admin/Fields/File")
    
    #(field = ["id": "title", "data": fields.title])
    #inline("Admin/Fields/Text")

    #(field = ["id": "excerpt", "size": "s", "data": fields.excerpt])
    #inline("Admin/Fields/Textarea")
    
    
    #(field = ["id": "date", "more": fields.dateFormat, "data": fields.date])
    #inline("Admin/Fields/Text")
</fieldset>

<fieldset class="p m:bottom:l br:xs">
    <legend class="p:horizontal:s">SEO</legend>

    #(field = ["id": "slug", "data": fields.slug])
    #inline("Admin/Fields/Text")

    #(field = ["id": "statusId", "label": "Status", "data": fields.statusId])
    #inline("Admin/Fields/Selection")

    #(field = ["id": "feedItem", "label": "Include in RSS?", "data": fields.feedItem])
    #inline("Admin/Fields/Selection")
    
    #(field = ["id": "canonicalUrl", "label": "Canonical URL", "required": false, "data": fields.canonicalUrl])
    #inline("Admin/Fields/Text")
</fieldset>

#if(!fields.filters.values.isEmpty()):
<fieldset class="p m:bottom:l br:xs">
    <legend class="p:horizontal:s">Content</legend>
    #(field = ["id": "filters", "data": fields.filters])
    #inline("Admin/Fields/Checkbox")
</fieldset>
#endif

<fieldset class="p m:bottom:l br:xs">
    <legend class="p:horizontal:s">Design</legend>

    #(field = ["id": "css", "label": "CSS", "size": "s", "data": fields.css])
    #inline("Admin/Fields/Textarea")

    #(field = ["id": "js", "label": "JavaScript", "size": "s", "data": fields.js])
    #inline("Admin/Fields/Textarea")
</fieldset>


<fieldset class="p m:bottom:l br:xs" style="display: none;">
    <legend class="p:horizontal:s">Reference</legend>

    #(field = ["id": "module", "required": true, "data": fields.module])
    #inline("Admin/Fields/Text")
    
    #(field = ["id": "model", "required": true, "data": fields.model])
    #inline("Admin/Fields/Text")
    
    #(field = ["id": "reference", "label": "Identifier", "required": true, "data": fields.reference])
    #inline("Admin/Fields/Text")
</fieldset>

#enddefine

#inline("Admin/Form")
