#let(table = [
    "title": "Metadatas",
    "key": "frontend.metadatas",
    "create": false,
    "delete": false,
    "field": [
        "key": "slug"
    ]
])

#var(columns = "1fr")
#var(actions = 0)
#if((table.edit ?? true) && UserHasPermission(table.key + ".update")):
    #(columns += " 64px")
    #(actions += 1)
#endif
#if((table.delete ?? true) && UserHasPermission(table.key + ".delete")):
    #(columns += " 64px")
    #(actions += 1)
#endif

#define(css):
tr {
    grid-template-columns: 1fr 1fr;
}
@media (min-width: 600px) {
    
    tr {
        grid-template-columns: #(columns);
    }
}
#enddefine

#define(th):
    <th class="td:left m:h:s td:compact:col2">
        #let(link = [
             "key": table.field.key,
             "default": true,
             "sort": (table.field.sort ?? "asc")
        ])
        #inline("Admin/SortLink")
    </th>

    #if((table.edit ?? true) && UserHasPermission(table.key + ".update")):
    <th class="td:center td:compact:hidden">Edit</th>
    #endif
    
    #if((table.delete ?? true) && UserHasPermission(table.key + ".delete")):
    <th class="td:center td:compact:hidden">Drop</th>
    #endif

#enddefine

#define(tr):
    #for(item in list.items):
    <tr>
        <td class="td:left m:h:s td:compact:margin td:compact:col2 #if(actions > 0): td:compact:separator#endif">
            #if((table.view ?? true) && UserHasPermission(table.key + ".get")):
            <a href="#($req.url.path)#(item.id)/">
                #if(item[table.field.key].isEmpty()):home#else:#(item[table.field.key])#endif
            </a>
            #else:
            #if(item[table.field.key].isEmpty()):home#else:#(item[table.field.key])#endif
            #endif
        </td>
        
        #if((table.edit ?? true) && UserHasPermission(table.key + ".update")):
        <td class="td:center#if(actions < 2): td:compact:col2#endif">
            <a href="#($req.url.path)#(item.id)/update">#svg("edit-2")</a>
        </td>
        #endif

        #if((table.delete ?? true) && UserHasPermission(table.key + ".delete")):
        <td class="td:center#if(actions < 2): td:compact:col2#endif">
            <a href="#($req.url.path)#(item.id)/delete/">#svg("trash")</a>
        </td>
        #endif
    </tr>
    #endfor
#enddefine

#inline("Admin/BaseTable")
