#let(detail = [
    "title": "Metadata",
    "key": "frontend.metadatas",
    "delete": false,
    "list": [
        "title": "Metadatas",
        "url": "/admin/frontend/metadatas/"
    ]
])
#define(details):
    <dl class="t:center">
        <dt>Id</dt>
        <dd class="m:h:zero m:b">#(model.id)</dd>
        
        <dt>Title</dt>
        <dd class="m:h:zero m:b">#(model.title)</dd>
        
        <dt>Excerpt</dt>
        <dd class="m:h:zero m:b">#(model.excerpt)</dd>
        
        <dt>Date</dt>
        <dd class="m:h:zero m:b">#Date(timeStamp: model.date, fixedFormat: $app.dateFormats.full, timeZone: $app.timezone)</dd>

        <dt>Slug</dt>
        <dd class="m:h:zero m:b">#(model.slug)</dd>
        
        <dt>Status</dt>
        <dd class="m:h:zero m:b">#(model.status)</dd>
        
        <dt>Include in RSS?</dt>
        <dd class="m:h:zero m:b">#(model.feedItem)</dd>
        
        <dt>Canonical URL</dt>
        <dd class="m:h:zero m:b">#(model.canonicalUrl)</dd>

        <dt>Filters</dt>
        <dd class="m:h:zero m:b">
            #for(filter in model.filters):
                #(filter)<br>
            #endfor
        </dd>
        
        <dt>CSS</dt>
        <dd class="m:h:zero m:b">#(model.css)</dd>
        
        <dt>JS</dt>
        <dd class="m:h:zero m:b">#(model.js)</dd>
        
        <dt>Module</dt>
        <dd class="m:h:zero m:b">#(model.module)</dd>
        
        <dt>Model</dt>
        <dd class="m:h:zero m:b">#(model.model)</dd>
        
        <dt>Reference</dt>
        <dd class="m:h:zero m:b">#(model.reference)</dd>
        
    </dl>
#enddefine
#inline("Admin/Detail")
