#let(detail = [
    "title": "Permission",
    "key": "user.permissions",
    "list": [
        "title": "Permissions",
        "url": "/admin/user/permissions/"
    ]
])

#define(details):
    <dl class="t:center">
        <dt>Id</dt>
        <dd class="m:h:zero m:b">#(model.id)</dd>

        <dt>Key</dt>
        <dd class="m:h:zero m:b">#(model.key)</dd>
        
        <dt>Module</dt>
        <dd class="m:h:zero m:b">#(model.module)</dd>
        
        <dt>Context</dt>
        <dd class="m:h:zero m:b">#(model.context)</dd>
        
        <dt>Action</dt>
        <dd class="m:h:zero m:b">#(model.action)</dd>
        
        <dt>Name</dt>
        <dd class="m:h:zero m:b">#(model.name)</dd>
        
        <dt>Notes</dt>
        <dd class="m:h:zero m:b">#(model.notes)</dd>
    </dl>
#enddefine

#inline("Admin/Detail")
