<section>
    #inline("Common/Fields/Label")
    
    #var(actions = InvokeAllHooks("content-actions"))
    #if(!actions.isEmpty()):
        #var(css = [])
        #var(js = [])
        <div class="content-action-toolbar">
        #for(item in actions):
            #for(button in item.actions):
                <a href="javascript:#(button.action);" class="content-action-button">
                    #if(button.icon ?? false):#svg(button.icon ?? "")#endif#if(button.title ?? false):<span>#(button.title ?? "")</span>#endif
                </a>
            #endfor
            #(css.append(item.css))
            #(js.append(item.js))
        #endfor
        </div>
        
        <style>
        #for(script in css):
            #(script)
        #endfor
        </style>

        <script>
        #for(script in js):
            #(script)
        #endfor
        </script>
    #endif

    <textarea name="#(field.key)" id="#(field.key)" class="xl editor"#if(field.required ?? false): aria-required="true"#endif>#(field.value ?? "")</textarea>
    #inline("Common/Fields/Error")
</section>
