<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>#evaluate(toolbarCenter ?? "") - #($system.variables["frontend.site.title"]) &middot; CMS</title>

    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">

    #if($app.isDebug):
    <link rel="stylesheet" href="/css/frontend.css">
    <link rel="stylesheet" href="/css/admin.css">
    #else:
    <link rel="stylesheet" href="/css/frontend.min.css">
    <link rel="stylesheet" href="/css/admin.min.css">
    #endif
        
    <style type="text/css">
        #evaluate(css ?? "")
    </style>
</head>

<body class="m:zero">

    <header id="header">
        <input type="checkbox" id="menu-button" class="selection:off" />
        <label for="menu-button" id="menu-icon" class="selection:off"><span></span></label>

        <a id="site-link" href="/">
            <img src="/images/logo-text.png" alt="Logo of #($system.variables["frontend.site.title"])" title="#($system.variables["frontend.site.title"])">
        </a>
        
        <nav id="nav">
            #if($req.url.path != "/admin/"):
            <li><a href="/admin/">Dashboard</a></li>
            #endif
            #evaluate(breadcrumb ?? "")
            <li><a id="account" href="/logout/">Sign out</a></li>
        </nav>

    </header>

    <div class="m:h:s">
        <div id="toolbar" class="g3 g:gap:zero w:full">
            
            <div id="left" class="g:col1 container t:left">
                #evaluate(toolbarLeft ?? "")
            </div>
            <div id="center" class="g:col1 t:center">
                <h3 class="m:zero">#evaluate(toolbarCenter ?? "")</h3>
            </div>
            <div id="right" class="g:col1 container t:right">
                #evaluate(toolbarRight ?? "")
            </div>
        </div>
    </div>

    <main class="container">
        #body()
    </main>

    <script src="/javascript/admin.js"></script>
    <script type="text/javascript">
        #evaluate(js ?? "")
    </script>
</body>
</html>
