
#define(body):
<div class="lead container">
    <h1>#(form.label ?? "")</h1>
    <p>#(form.description ?? "")</p>
</div>

#(self)

<form
    #if(form.id ?? false): id="#(form.id)"#endif
    #if(form.class ?? false): class="#(form.class)"#endif
    method="#(form.action.method ?? "post")"
    #if(form.action.url ?? false): action="#(form.action.url)"#endif
    #if(form.action.multipart ?? false): enctype="multipart/form-data"#endif
    class="container"
    >

    #if(form.notification ?? false):
    <div id="notification" class="#(form.notification.type ?? "info")">
        #if(form.notification.icon ?? false): #svg(form.notification.icon) #endif
        #if(form.notification.title ?? false): <h3>#(form.notification.title)</h3>#endif
        #if(form.notification.message ?? false):
        <p>#(form.notification.message)</p>
        #endif
    </div>
    #endif

    #if(form.error ?? false):
    <section>
        <p class="error">#(form.error)</p>
    </section>
    #endif

        #var(field = nil)

        #for(field in form.fields):
            #if(field.type == "text"):           #inline("System/Common/Form/Fields/Text")
            
            #endif
        #endfor
        
    <section>
        <input type="submit" value="Save">
    </section>

</form>
#enddefine

#inline("System/Admin/Index")
