#let(head = [
    "title": "Login",
    "description": "Sign in with your existing account"
])
#define(body):
<div id="posts" class="m">

    <header class="t:center m:b:xl">
        <h1 class="m:t">#(head.title)</h1>
        <p>#(head.description)</p>
    </header>

    <form action="#($req.url.path)" method="post" class="w:xs m:h:auto">
        #var(field = nil)
        #(field = ["id": "email", "type": "email", "required": true, "data": fields.email, "placeholder": "feather@binarybirds.com"])
        #inline("Admin/Fields/Text")
        
        #(field = ["id": "password", "type": "password", "required": true, "data": fields.password])
        #inline("Admin/Fields/Text")
        
        #(field = ["label": "Sign in"])
        #inline("Admin/Fields/Button")

        #if(notification != nil):
        <p id="notification" class="center"><span class="error">#(notification)</span></p>
        #endif
    </form>
</div>
#enddefine
#inline("Frontend/Index")
