<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>Install - Feather CMS</title>
    
    <link rel="shortcut icon" href="/img/favicons/favicon.ico" type="image/x-icon">

    #if($app.isDebug ?? false):
        #for(file in InvokeAllHooksOrdered("web-css")):
        <link rel="stylesheet" href="/css/#(file).css">
        #endfor
        #for(file in InvokeAllHooksOrdered("install-css")):
        <link rel="stylesheet" href="/css/#(file).css">
        #endfor
    #else:
        #for(file in InvokeAllHooksOrdered("web-css")):
        <link rel="stylesheet" href="/css/#(file).min.css">
        #endfor
        #for(file in InvokeAllHooksOrdered("install-css")):
        <link rel="stylesheet" href="/css/#(file).min.css">
        #endfor
    #endif

    <style type="text/css">
        #for(script in InvokeAllHooksOrdered("web-css-inline")):#(script)#endfor
        #for(script in InvokeAllHooksOrdered("install-css-inline")):#(script)#endfor
        #evaluate(css ?? "")

        #site-logo {
            text-align: center;
        }
        #navigation {
            grid-template-columns: 1fr;
        }
   </style>

</head>

<body>
    <div id="navigation" class="center">
        <a id="site-logo" href="/">
            <img src="/img/logos/feather-logo-text.png" alt="Logo of Feather CMS" title="Feather CMS">
        </a>
    </div>

    <div>
        <main>
            <div class="lead container center">
                #body()
            </div>
        </main>
    </div>
    
    #for(file in InvokeAllHooksOrdered("web-js")):
    <script src="/js/#(file).js"></script>
    #endfor
    #for(file in InvokeAllHooksOrdered("install-js")):
    <script src="/js/#(file).js"></script>
    #endfor
    <script type="text/javascript">
        #for(script in InvokeAllHooksOrdered("web-js-inline")):#(script)#endfor
        #for(script in InvokeAllHooksOrdered("install-js-inline")):#(script)#endfor
        #evaluate(js ?? "")
        #($variables.siteJs ?? "")
        #(metadata.js ?? "")
    </script>
</body>
</html>
