<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>#evaluate(title ?? "Admin") - Feather CMS</title>

    <link rel="shortcut icon" href="/img/favicons/favicon.ico" type="image/x-icon">
    
    #if($app.isDebug ?? false):
        #for(file in InvokeAllHooksOrdered("admin-css")):
        <link rel="stylesheet" href="/css/#(file).css">
        #endfor
    #else:
        #for(file in InvokeAllHooksOrdered("admin-css")):
        <link rel="stylesheet" href="/css/#(file).min.css">
        #endfor
    #endif

    <style type="text/css">
        #for(script in InvokeAllHooksOrdered("admin-css-inline")):#(script)#endfor
        #evaluate(css ?? "")
    </style>
</head>
<body>

    <div id="navigation">
        <a id="site-logo" href="/">
            <img src="/img/logos/feather-logo-text.png" alt="Feather CMS" title="Feather CMS">
        </a>

        <nav id="secondary-menu">
            <input type="checkbox" id="secondary-menu-button" name="menu-button" class="menu-button">
            <label for="secondary-menu-button">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="12" cy="5" r="1"></circle>
                    <circle cx="12" cy="19" r="1"></circle>
                </svg>
            </label>
            <div class="menu-items right">
                <a href="/logout/">Sign out</a>
            </div>
        </nav>
    </div>

    
    <div class="breadcrumb">
        <nav>
            <a href="/admin/">Admin</a>
            #evaluate(breadcrumb ?? "")
        </nav>
    </div>

    <main>
        #body()
    </main>
    
    <footer>
        <section>
            <img class="size" src="/img/logos/feather-logo.png" alt="Logo of Feather CMS" title="Feather CMS">
            <p>Thank you for using Feather CMS, <a href="https://discord.gg/wMSkxCUXAD" target="_blank">join the discussion</a> on our Discord server.</p>

            <nav>
                <a href="https://feathercms.com/" target="_blank">Feather</a> ·
                <a href="https://vapor.codes/" target="_blank">Vapor</a> ·
                <a href="https://swift.org/" target="_blank">Swift</a>
            </nav>
        </section>
    </footer>

    #for(file in InvokeAllHooksOrdered("admin-js")):
    <script src="/js/#(file).js"></script>
    #endfor
    <script type="text/javascript">
        #for(script in InvokeAllHooksOrdered("admin-js-inline")):#(script)#endfor
        #evaluate(js ?? "")
    </script>

</body>
</html>
