#define(css):
.lead span svg {
    width: var(--font-size-4xl);
    height: var(--font-size-4xl);
    color: var(--color-1);
}
.lead h1 {
    margin-top: var(--space-2xs);
}
.lead nav a {
    display: block;
    margin-bottom: var(--space-xs);
}
#enddefine

#define(title):
#(menu.item.link.label)
#enddefine

#define(breadcrumb):
    <a href="#($req.url.path)" class="selected">#title()</a>
#enddefine


#define(body):

<div class="lead center">

    <span>#svg(menu.item.icon)</span>
    <h1>#title()</h1>
    <p>#(menu.item.notes ?? "")</p>

#if(UserHasPermission(menu.item.permission) ?? true):
    <nav>
        
        #for(item in menu.children):
            #if(UserHasPermission(item.permission) ?? true):
            <a href="#(item.link.url)">#(item.link.label)</a>
            #endif
        #endfor
    </nav>
#endif


</div>

#enddefine
#inline("System/Admin/Index")
