#let(head = [
    "title": $system.variables["frontend.page.not.found.title"],
    "description": $system.variables["frontend.page.not.found.description"]
])
#define(body):
<div class="content t:center">
    <div class="m:xl">
        <h1>Welcome</h1>

        <span class="h1">#($system.variables["frontend.page.not.found.icon"])</span>
        <h1 class="m:t:zero">#(head.title)</h1>
        <p>#(head.description)</p>
        <a href="/">#($system.variables["frontend.page.not.found.link"])</a>
    </div>
</div>
#enddefine
#inline("Frontend/Index")
