<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>Install - Feather CMS</title>
    
    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">

    #if($app.isDebug):
    <link rel="stylesheet" href="/css/frontend.css">
    #else:
    <link rel="stylesheet" href="/css/frontend.min.css">
    #endif
</head>

<body class="m:zero">

    <header id="header" class="container">
        <a id="site-link" href="/" style="float: none;">
            <img src="/images/logo-text.png" alt="Logo of #($system.variables["frontend.site.title"])" title="#($system.variables["frontend.site.title"])" class="block m:h:auto">
        </a>
    </header>

    <main class="container">
        #body()
    </main>
</body>
</html>
