#define(title):
#(detail.title ?? "") details
#enddefine

#define(breadcrumb):
    #if(UserHasPermission(detail.key + ".list")):
    <a href="#(detail.list.url)">#(detail.list.title)</a>
    #endif
    <a href="#($req.url.path)" class="selected">View</a>
#enddefine
    
#define(body):
<div class="lead container">

    #var(navItems = [])
    #if((detail.edit ?? true) && UserHasPermission(detail.key + ".update")):
        #(navItems.append(["link": $req.url.path + "update/", "label": "Edit"]))
    #endif
    #let(segmentItems = navItems + detail.nav ?? [])
    
    #if(!segmentItems.isEmpty()):
    <div class="segment grid-#(segmentItems.count())">
        #for(navItem in navItems + detail.nav ?? []):
            <a href="#(navItem.link)"#if(navItem.targetBlank ?? false): target="_blank"#endif>#(navItem.label)</a>
        #endfor
    </div>
    #endif
    
    <h1>#(detail.title ?? "") details</h1>
</div>

<div class="container">
    #if(!(detail.fields ?? []).isEmpty()):
    <dl>
    #for(field in detail.fields):
        <dt>#(field.label)</dt>
        
        #if(field.value ?? "" == ""):
        <dd>&nbsp;</dd>
        #else:
        <dd>#(field.value)</dd>
        #endif
        
    #endfor
    </dl>
    #else:
        #evaluate(details ?? "")
    #endif

    <section>
        #if((detail.delete ?? true) && UserHasPermission(detail.key + ".delete")):
        <a href="#($req.url.path)delete/?cancel=#($req.url.path)" class="destructive">Delete</a>
        #endif
    </section>
</div>
#enddefine

#inline("System/Admin/Index")
