<section class="m:b">
    <label class="block" for="#(field.id)">#(field.label ?? field.id.capitalized())#if(field.required ?? false):<span class="required">*</span>#endif</label>
    #for(item in field.data.options):
    <input type="checkbox" name="#(field.id)[]" value="#(item.key)" id="#(field.id)-#(item.key)" #if(field.data.values.contains(item.key)):checked#endif>
    <label for="#(field.id)-#(item.key)">#(item.label)</label><br>
    #endfor
    #if(field.data.error != nil):
    <span class="error">#(field.data.error)</span>
    #endif
</section>
