#let(menuId = Request(parameter: "id"))

#let(detail = [
    "title": "Menu item",
    "key": "frontend.menu.items",
    "list": [
        "title": "Menu items",
        "url": "/admin/frontend/menus/" + menuId + "/items/"
    ]
])

#define(details):
    <dl class="t:center">
        <dt>Id</dt>
        <dd class="m:h:zero m:b">#(model.id)</dd>
        
        <dt>Icon</dt>
        <dd class="m:h:zero m:b">#if(model.icon != nil):#svg(model.icon)#endif</dd>

        <dt>Label</dt>
        <dd class="m:h:zero m:b">#(model.label)</dd>

        <dt>Url</dt>
        <dd class="m:h:zero m:b">#(model.url)</dd>

        <dt>Open in new window?</dt>
        <dd class="m:h:zero m:b">#(model.targetBlank)</dd>
        
        <dt>Permission</dt>
        <dd class="m:h:zero m:b">#(model.permission)</dd>

    </dl>
#enddefine
#inline("Admin/Detail")
