#let(id = Request(parameter: "id"))

#define(title):
#if(id != nil):Edit#else:Create#endif #(form.title.lowercased())
#enddefine

#define(breadcrumb):
    <a href="#(model.module.path)">#(model.module.title.capitalized())</a>

    #if(model.permissions.list ?? false):
    <a href="#(model.urls.list)">#(model.title.capitalized())</a>
    #endif
    <a href="#($req.url.path)" class="current">#if(id != nil):Edit#else:Create#endif</a>
#enddefine


#define(body):
#(self)
<div class="lead container">

    #var(navItems = [])
    #if((id != nil) && (model.permissions.get ?? false)):
        #(navItems.append(["link": $req.url.path.trimLast(), "label": "View"]))
    #endif
    #let(segmentItems = navItems + form.nav ?? [])
    
    #if(!segmentItems.isEmpty()):
    <div class="segment grid-#(segmentItems.count())">
        #for(navItem in segmentItems):
            <a href="#(navItem.link)"#if(navItem.isBlank ?? false): target="_blank"#endif>#(navItem.label)</a>
        #endfor
    </div>
    #endif
    
    <h1>#if(id != nil):Edit#else:Create#endif #(form.title.lowercased())</h1>
</div>

#inline("System/Common/Form")

<div class="container">
    #if((id != nil) && (model.permissions.delete ?? false)):
    <a href="#($req.url.path.trimLast())delete/?cancel=#($req.url.path)" class="destructive">Delete</a>
    #endif
</div>
#enddefine

#inline("System/Admin/Index")
