#let(id = Request(parameter: "id"))

#define(title):
#if(id != nil):Edit#else:Create#endif #(model.name.singular.lowercased())
#enddefine

#define(breadcrumb):
#if(bc.isEmpty()):
    <a href="/admin/#(model.module.idKey)/">#(model.module.name)</a>

    #if(model.permissions.list ?? false):
    <a href="/admin/#(model.module.idKey)/#(model.idKey)/">#(model.name.plural)</a>
    #else:
    <a>#(model.name.plural)</a>
    #endif

    <a href="#($req.url.path)" class="current">#if(id != nil):Edit#else:Create#endif</a>
#else:
    #for(b in bc):
        <a href="#(b.url)"#if(isLast): class="current"#endif>#(b.label)</a>
    #endfor
#endif
#enddefine

#define(body):
<div class="lead container">

    #var(navItems = [])
    #if((id != nil) && (model.permissions.get ?? false)):
        #(navItems.append(["url": $req.url.path.trimLast(), "label": "View"]))
    #endif

    #let(segmentItems = navItems + nav ?? [])

    #if(!segmentItems.isEmpty()):
    <div class="segment grid-#(segmentItems.count())">
        #for(navItem in segmentItems):
            <a href="#(navItem.url)"#if(navItem.isBlank ?? false): target="_blank"#endif>#(navItem.label)</a>
        #endfor
    </div>
    #endif
    
    <h1>#title()</h1>
</div>

#inline("System/Common/Form")

#if((id != nil) && (model.permissions.delete ?? false)):
<div class="container">
    <a href="#($req.url.path.trimLast())delete/?cancel=#($req.url.path)" class="destructive">Delete</a>
</div>
#endif
#enddefine

#inline("System/Admin/Index")
