#let(id = Request(parameter: "id"))

#define(title):
#if(id != nil):Edit#else:Create#endif #(form.title.lowercased())
#enddefine

#define(breadcrumb):
    <a href="#(form.model.module.path)">#(form.model.module.title.capitalized())</a>

    #if(form.model.permissions.list ?? false):
    <a href="#(form.model.urls.list)">#(form.model.title.capitalized())</a>
    #endif
    <a href="#($req.url.path)" class="current">#if(id != nil):Edit#else:Create#endif</a>
#enddefine


#define(body):
#(self)
<div class="lead container">

    #var(navItems = [])
    #if((id != nil) && (form.model.permissions.get ?? false)):
        #(navItems.append(["link": $req.url.path.trimLast(), "label": "View"]))
    #endif
    #let(segmentItems = navItems + form.nav ?? [])
    
    #if(!segmentItems.isEmpty()):
    <div class="segment grid-#(segmentItems.count())">
        #for(navItem in segmentItems):
            <a href="#(navItem.link)"#if(navItem.isBlank ?? false): target="_blank"#endif>#(navItem.label)</a>
        #endfor
    </div>
    #endif
    
    <h1>#if(id != nil):Edit#else:Create#endif #(form.title.lowercased())</h1>
</div>

<form
    #if(form.id ?? false): id="#(form.id)"#endif
    #if(form.class ?? false): class="#(form.class)"#endif
    method="#(form.action.method ?? "post")"
    #if(form.action.url ?? false): action="#(form.action.url)"#endif
    #if(form.action.multipart ?? false): enctype="multipart/form-data"#endif
    class="container"
    >

    #if(form.notification ?? false):
    <div id="notification" class="#(form.notification.type ?? "info")">
        #if(form.notification.icon ?? false): #svg(form.notification.icon) #endif
        #if(form.notification.title ?? false): <h3>#(form.notification.title)</h3>#endif
        <p>#(form.notification.message)</p>
    </div>
    #endif

    #if(form.error ?? false):
    <section>
        <p class="error">#(form.error)</p>
    </section>
    #endif
        #var(field = nil)

        #(field = ["key": "formId", "value": form.id])
        #inline("System/Common/Form/Fields/Hidden")

        #(field = ["key": "formToken", "value": form.token])
        #inline("System/Common/Form/Fields/Hidden")

        #for(field in form.fields):
            #if(field.type == "hidden"):                #inline("System/Common/Form/Fields/Hidden")
            #elseif(field.type == "text"):              #inline("System/Common/Form/Fields/Text")
            #elseif(field.type == "textarea"):          #inline("System/Common/Form/Fields/Textarea")
            #elseif(field.type == "toggle"):            #inline("System/Common/Form/Fields/Toggle")
            #elseif(field.type == "checkbox"):          #inline("System/Common/Form/Fields/Checkbox")
            #elseif(field.type == "radio"):             #inline("System/Common/Form/Fields/Radio")
            #elseif(field.type == "selection"):         #inline("System/Common/Form/Fields/Selection")
            #elseif(field.type == "multiselection"):    #inline("System/Common/Form/Fields/Multiselection")
            #elseif(field.type == "multigroupoption"):  #inline("System/Common/Form/Fields/Multigroupoption")
            #endif
        #endfor
        
    <section>
        <input type="submit" value="Save">
    </section>
    
    <section>
        #if((id != nil) && (form.model.permissions.delete ?? false)):
        <a href="#($req.url.path.trimLast())delete/?cancel=#($req.url.path)" class="destructive">Delete</a>
        #endif
    </section>

</form>
#enddefine

#inline("System/Admin/Index")
