#define(css):
.card .content svg {
    width: var(--font-size-3xl);
    height: var(--font-size-3xl);
    color: var(--color-1);
    position: absolute;
    top: var(--space);
    right: var(--space);
}
.card .content nav a {
    display: block;
}
.card h2 a {
    color: var(--text-color-1);
}
#enddefine

#define(title):
Admin
#enddefine

#define(breadcrumb):
    <a href="/admin/system/dashboard/">Dashboard</a>
#enddefine

#define(body):

<div class="lead">
    <h1>Admin</h1>
    <p>Welcome <b>#($user.email)</b>, this is your admin interface.</p>
</div>

<section class="grid-321">
    #for(menu in menus):
        #if(UserHasPermission(menu.link.permission) ?? true):
        <div class="card">
            <div class="content">
            <span>#svg(menu.link.icon)</span>
            <h2><a href="#(menu.link.url)">#(menu.link.label)</a></h2>
            <nav>
            #for(item in menu.items):
                #if(UserHasPermission(item.permission) ?? true):
                <a href="#(item.url)">#(item.label)</a>
                #endif
            #endfor
            </nav>
            </div>
        </div>
        #endif
    #endfor
</section>

#enddefine
#inline("System/Admin/Index")
